@import "tailwindcss";
@tailwind utilities;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optional: smoother font rendering */
body {
  @apply bg-gray-50 text-gray-800 font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default link styles */
a {
  @apply no-underline text-blue-600;
}

a:hover {
  @apply text-blue-700;
}

/* Default images */
img {
  @apply max-w-full h-auto block;
}

/* Default list style */
ul,
ol {
  @apply list-none;
}

/* Default buttons */
button {
  @apply cursor-pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}
.animate-fadeIn {
  animation: fadeIn 3s ease-in-out forwards;
}
